<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atende Já</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    
    <header>
        <div class="navbar">
            <span class="logo">ATENDE JÁ.</span>
            <a href="{{ url_for('cadastro') }}" class="btn-cadastro destaque">CADASTRE-SE</a>
        </div>
    </header>
    

    <section class="hero">
        <div class="overlay">
            <span class="dot"></span>
            <h1 class="hero-title">Gerencie a fila de espera da sua Empresa de forma eficiente</h1>
            <p class="subheading">"Organize a fila por chegada, mesas e check-ins."</p>
            <a href="{{ url_for('cadastro') }}" class="btn-cadastro">Login</a>
            <p class="price">Planos a partir de R$ 85,90/mês.</p>
            <div class="image-placeholder">
                <img src="{{ url_for('static', filename='Img/lista-de-precos.png') }}" alt="Imagem de lista de preços" class="price-image">
            </div>
        </div>
    </section>

    <section class="benefits">
        <h3 class="benefits-title">Organizar a fila de espera da sua empresa nunca foi tão fácil:</h3>
        <div class="benefit-icons">
            <div class="icon">
                <img src="{{ url_for('static', filename='Img/imagem (1).png') }}" alt="" class="benefit-image">
                <p class="icon-title">Download direto</p>
                <p class="icon-description">Aplicativo para smartphones.</p>
            </div>
            <div class="icon">
                <img src="{{ url_for('static', filename='Img/pc.png') }}" alt="" class="benefit-image">
                <p class="icon-title">Acesse via desktop</p>
                <p class="icon-description">Sistema disponível para web.</p>
            </div>
            <div class="icon">
                <img src="{{ url_for('static', filename='Img/confirme.png') }}" alt="" class="benefit-image">
                <p class="icon-title">Integração fácil</p>
                <p class="icon-description">Com QR code e notificações.</p>
            </div>
        </div>
    </section>
    

    
        <section class="section">
            <div class="text-block">
                <p><img src="{{ url_for('static', filename='Img/estrela.png') }}" alt="Star Icon"> Pronto para ser utilizado.</p>
                <p><img src="{{ url_for('static', filename='Img/editar.png') }}" alt="Evolution Icon"> Dessa forma, seu atendimento evolui.</p>
            </div>
            <div class="icon-block">
                <h1>Afinal, é um Sistema de Gestão de Filas de Espera</h1>
            </div>
        </section>
    
        

    <h2>Agora, escolha um plano:</h2>
    <div class="planos">
        <div class="plano">
            <div class="plano-titulo">Inicial</div>
            <p class="plano-descricao">Ideal para empresas com pequenas filas ou check-ins:</p>
            <p class="plano-preco">R$ 95<sup>,90</sup><br><span>POR MÊS</span></p>
            <ul class="plano-beneficios">
                <li>15 reservas na fila</li>
                <li>Notificações via whatsapp</li>
                <li>Acesso à fila via qr code</li>
            </ul>
            <button class="plano-botao">ESCOLHA ESSE PLANO</button>
        </div>
        <div class="plano plano-destaque">
            <div class="plano-titulo">Intermediário</div>
            <p class="plano-descricao">Ideal para empresas com filas intermediárias ou check-ins:</p>
            <p class="plano-preco">R$ 140<sup>,90</sup><br><span>POR MÊS</span></p>
            <ul class="plano-beneficios">
                <li>30 reservas na fila</li>
                <li>Notificações via whatsapp</li>
                <li>Acesso à fila via qr code</li>
            </ul>
            <button class="plano-botao">ESCOLHA ESSE PLANO</button>
        </div>
        <div class="plano">
            <div class="plano-titulo">Avançado</div>
            <p class="plano-descricao">Ideal para empresas com todos os tipos de filas ou check-ins:</p>
            <p class="plano-preco">R$ 185<sup>,90</sup><br><span>POR MÊS</span></p>
            <ul class="plano-beneficios">
                <li>Reservas ilimitadas</li>
                <li>Notificações via whatsapp</li>
                <li>Acesso à fila via qr code</li>
            </ul>
            <button class="plano-botao">ESCOLHA ESSE PLANO</button>
        </div>
    </div>
    <br>
    <div class="contato-section">
        <div class="texto-contato">
            <p class="titulo-secundario">Contato</p>
            <h2>Vamos conversar</h2>
            <p>Se ficou com alguma dúvida ou deseja personalizar o sistema para o seu tipo de negócio, preencha o formulário ao lado e entraremos em contato.</p>
        </div>
        <div class="formulario-contato">
            <form>
                <input type="text" placeholder="Nome" required>
                <input type="tel" placeholder="Telefone" required>
                <input type="email" placeholder="E-mail" required>
                <textarea placeholder="Escreva aqui sua mensagem" required></textarea>
                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>
    
    
    <div class="contato-opcoes">
        <p>Se preferir, entre em contato:</p>
        <div class="opcoes">
            <div class="opcao">
                <img src="{{ url_for('static', filename='Img/whatsapp.png') }}" alt="Ícone de WhatsApp" class="icone-contato">
                <p>Via Whatsapp<br>(88) 9999-9999</p>
            </div>
            <div class="opcao">
                <img src="{{ url_for('static', filename='Img/mensagem.png') }}" alt="Ícone de E-mail" class="icone-contato">
                <p>E-mail<br>contato@seusite.com</p>
            </div>
        </div>
    </div>
    